* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  padding: 50px 20px;
  text-align: center;
  color: #ffffff;
  background-image: url('img/mingwei-lim.jpeg');
  background-color: #000;
}

header {
  background-color: #1f1f2c;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
}

nav ul>li {
  list-style: none;
}

nav ul>li i {
  padding-right: 10px;
}

.header__logo img {
  width: 200px;
  height: auto;
}

.header__title i {
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.container__intro--title {
  display: flex;
  flex-direction: column;
}

.container__intro h2,
.container__intro h3 {
  color: #1f1f2c;
  text-align: center;
  padding: 30px 0;
}

.container__intro--title h2 i,
.container__intro--title h3 i {
  color: #083F5F;
  padding: 20px;
  opacity: .9;
  font-size: .8em;
}

.container__intro--title span {
  color: #083F5F90;
}

.container__history {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__img {
  position: relative;
  background-color: #000;
}

.container__img img {
  width: 100%;
  height: 350px;
  background-size: cover;
}

.container__join {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container__join h4 {
  color: #fff;
  padding: 0 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.container__join button {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.container__join button:hover {
  background-color: #1565c0;
}

@media only screen and (min-width: 768px) {
  .container__intro h2 {
    text-align: left;
    padding: 30px;
    margin-left: 50px;
  }

  .container__intro h3 {
    text-align: right;
    padding-bottom: 30px;
    margin-right: 150px;
  }

  .container__img img {
    width: 100%;
    height: 800px;
  }
  .container__join h4 {
    margin-bottom: 30px;
  }
  .container__join button {
    margin-bottom: 20px;
  }
}